@import url(default.css);
@import url(fonts.css);
@import url(common.css);

.visual ul li {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 800px;
    color: rgba(255,255,255,0.8);
}
.visual ul li.popup_bg1 {
    background-image: url(../images/visual_bg1.png);
}
.visual ul li.popup_bg2 {
    background-image: url(../images/visual_bg2.png);
}
.visual ul li.popup_bg3 {
    background-image: url(../images/visual_bg3.png);
}
.visual ul li strong {
    font-family: 'Eulyoo1945';
    font-size: 100px;
    color: rgba(255,255,255,0.1);
    margin: 313px 0 0 0;
    display: block;
}
.visual ul li h2 {
    font-family: 'Eulyoo1945';
    font-size: 50px;
    color: #fff;
    margin: -45px 0 0 119px;
}
.visual ul li p {
    margin: 13px 0 0 119px ;
}
.visual .btn_prev,
.visual .btn_next {
    position: absolute;/*swiper를 기준으로 정렬*/
    top: 444px;
    z-index: 10;/*position 속성이 들어간 요소끼리의 순서 - 숫자가 높으면 위*/
    width: 88px;
    height: 88px;/*버튼의 크기*/
    font-size: 0;
    line-height: 0;/*글자 숨기기*/

}
.visual .btn_prev {
    left: 0;
}
.visual .btn_next {
    right: 0;
}
.visual .btn_prev::before,
.visual .btn_next::before {
    position: absolute;/*button을 기준으로 정렬*/
    left: 10px;
    top: 0;
    width: 100%;
    height: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    content: "";
}
.visual .btn_prev::before {
    background-image: url("data:image/svg+xml,%3Csvg width='88' height='88' viewBox='0 0 88 88' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg opacity='0.5'%3E%3Cmask id='mask0_18_61' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='88' height='88'%3E%3Crect width='88' height='88' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_18_61)'%3E%3Cpath d='M10.3373 44L38.6265 72.2902C39.1673 72.8304 39.4344 73.4767 39.4277 74.2289C39.4203 74.9812 39.1463 75.6275 38.6054 76.1677C38.0652 76.7085 37.419 76.9789 36.6667 76.9789C35.9144 76.9789 35.2681 76.7085 34.7279 76.1677L6.70543 48.1672C6.11326 47.575 5.6809 46.9147 5.40834 46.1863C5.13579 45.4572 4.99951 44.7285 4.99951 44C4.99951 43.2716 5.13579 42.5428 5.40834 41.8138C5.6809 41.0853 6.11326 40.425 6.70543 39.8328L34.7279 11.8113C35.2681 11.2704 35.9181 11.0037 36.6777 11.011C37.4367 11.0177 38.0863 11.2915 38.6265 11.8323C39.1673 12.3726 39.4378 13.0188 39.4378 13.7711C39.4378 14.5234 39.1673 15.1696 38.6265 15.7098L10.3373 44Z' fill='white'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A");
}
.visual .btn_next::before {
    background-image: url("data:image/svg+xml,%3Csvg width='88' height='88' viewBox='0 0 88 88' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg opacity='0.5'%3E%3Cmask id='mask0_19_431' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='88' height='88'%3E%3Crect width='88' height='88' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_19_431)'%3E%3Cpath d='M55.6839 44L27.3946 15.7098C26.8538 15.1696 26.5871 14.52 26.5944 13.761C26.6011 13.0014 26.8749 12.3515 27.4157 11.8112C27.9559 11.2704 28.6059 11 29.3655 11C30.1245 11 30.7744 11.2704 31.3152 11.8112L59.3157 39.8328C59.9079 40.425 60.3402 41.0853 60.6128 41.8137C60.8854 42.5428 61.0216 43.2716 61.0216 44C61.0216 44.7284 60.8854 45.4572 60.6128 46.1862C60.3402 46.9147 59.9079 47.575 59.3157 48.1672L31.2932 76.1888C30.753 76.7296 30.1067 76.9963 29.3545 76.989C28.6022 76.9823 27.9559 76.7085 27.4157 76.1677C26.8749 75.6274 26.6045 74.9775 26.6045 74.2179C26.6045 73.4589 26.8749 72.809 27.4157 72.2682L55.6839 44Z' fill='white'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E ");
}
@media screen and (max-width:1500px) {
    .visual .btn_prev,
    .visual .btn_next {
        display: none;
    }
}/*media*/
@media screen and (max-width:640px) {
        .visual ul li {
            height: 358px;
        }
        .visual ul li strong {
            font-size: 50px;
            color: rgba(255,255,255,0.1);
            margin: 120px 0 0 0;
        }
        .visual ul li h2 {
            font-size: 25px;
            margin: -24px 0 0 68px;
        }
        .visual ul li p {
            margin: 10px 0 0 68px ;
        }
        .visual ul li br {
            display: none;
        }
}/*media*/
.book {
    margin: 153px 0 0 0;
}
.book .wrapper {
    position: relative;/*more정렬의 기준*/
}
.book .tit {
    float: left;/*부유요소*/
}
.book .tit h2 {
    font-family: "Eulyoo1945";
    font-size: 50px;
    line-height: 1.2;
    color: #1d1d1d;
    margin: 0 0 5px 0;
}
.book .list {
    margin: 0 0 0 321px;
    width: 1260px;
}
.book .list ul li {
    width: 297px;
}
.book .list ul li a .photo {
    overflow: hidden;
    font-size: 0;/*이미지 하단 여백 삭제*/
    line-height: 0;
}
.book .list ul li a .photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;/*감싸는 요소 photo 영역에 이미지 꽉채우기*/
    transition: 0.5s;
}
.book .list ul li a:hover .photo img {
    transform: scale3d(1.1, 1.1, 1);/*가운데를 기준으로 확대*/
}
.book .list ul li a h3 {
    /*1줄 제한 - block요소이어야함*/
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    font-family: "Eulyoo1945";
    font-size: 25px;
    color: #1d1d1d;
    margin: 18px 0 14px 0;
}
.book .list ul li a p {
    /*2줄제한*/
    display: block;
    line-height: 1.4;
    height: 2.8em;/*행간x줄수 = 1.4x2 = 2.8*/
}
.book .more {
    position: absolute;/*wrapper*/
    left: 0;
    top: 183px;
}
.book .more a {
    padding: 13px 81px 13px 17px;
    border: 1px solid #999;
    display: block;
    color: #666;
    position: relative;/*after 정렬의 기준*/
}
.book .more a::after {
    position: absolute;/*a를 기준으로 정렬*/
    right: 22px;
    top: 13px;
    width: 10px;
    height: 19px; 
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    background-image: url("data:image/svg+xml,%3Csvg width='10' height='19' viewBox='0 0 10 19' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.44956 9.50156L0.232489 1.35608C0.0753948 1.20054 -0.00208734 1.0135 4.27441e-05 0.794964C0.00199532 0.576252 0.0815183 0.389124 0.238612 0.233579C0.395529 0.0778594 0.584308 0 0.804949 0C1.02541 0 1.21419 0.0778594 1.37129 0.233579L9.50449 8.30173C9.67649 8.47223 9.80208 8.66235 9.88125 8.87208C9.96042 9.082 10 9.29182 10 9.50156C10 9.7113 9.96042 9.92113 9.88125 10.131C9.80208 10.3408 9.67649 10.5309 9.50449 10.7014L1.3649 18.7695C1.20798 18.9253 1.02027 19.0021 0.801754 19C0.583243 18.998 0.395529 18.9192 0.238612 18.7635C0.0815183 18.6079 0.00297204 18.4208 0.00297204 18.2021C0.00297204 17.9836 0.0815183 17.7964 0.238612 17.6407L8.44956 9.50156Z' fill='%23666666'/%3E%3C/svg%3E ");
    content: "";
}
.book .more a:hover {
    border-color: #2C2C2C;
    background-color: #2C2C2C;
    color: #fff;
}
.book .more a:hover::after {
    background-image: url("data:image/svg+xml,%3Csvg width='10' height='19' viewBox='0 0 10 19' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.44956 9.50156L0.232489 1.35608C0.0753948 1.20054 -0.00208734 1.0135 4.27441e-05 0.794964C0.00199532 0.576252 0.0815183 0.389123 0.238612 0.233579C0.395529 0.0778594 0.584308 0 0.804949 0C1.02541 0 1.21419 0.0778594 1.37129 0.233579L9.50449 8.30173C9.67649 8.47223 9.80208 8.66235 9.88125 8.87208C9.96042 9.082 10 9.29182 10 9.50156C10 9.7113 9.96042 9.92113 9.88125 10.131C9.80208 10.3408 9.67649 10.5309 9.50449 10.7014L1.3649 18.7695C1.20798 18.9253 1.02027 19.0021 0.801754 19C0.583243 18.998 0.395529 18.9192 0.238612 18.7635C0.0815183 18.6079 0.00297204 18.4208 0.00297204 18.2021C0.00297204 17.9836 0.0815183 17.7964 0.238612 17.6407L8.44956 9.50156Z' fill='white'/%3E%3C/svg%3E ");
}

@media screen and (max-width:640px) {
        .book {
            margin: 53px 0 0 0;
        }
        .book .tit {
            float: none;/*float해제*/
        }
        .book .tit h2 {
            font-size: 30px;
            margin: 0 0 23px 0;
        }
        .book .tit h2 br {
            display: none;
        }
        .book .tit p {
            display: none;/*숨김*/
        }
        .book .list {
            margin: 0;
           width: calc(100% + 20px);
            /*오른쪽 wrapper 밖까지 list가 나오게 하기 위해서
            list한테 100%에 오른쪽 여백 20px를 추가해줌*/
        }
        .book .list ul li {
            width: auto;/*넓이 jquary가 줌*/
        }
        .book .list ul li a h3 {
            font-size: 17px;
            margin: 17px 0 10px 0;
        }
        .book .more {
            position: relative;/*wrapper*/
            left: auto;
            top: auto;
            text-align: center;
            margin: 20px 0 0 0;
        }
        .book .more a {
            padding: 11px 48px 12px 11px;
            border: 1px solid #999;
            display: inline-block;
            color: #666;
            position: relative;/*after 정렬의 기준*/
        }
        .book .more a::after {
            position: absolute;/*a를 기준으로 정렬*/
            right: 20px;
            top: 13px;
            width: 6px;
            height: 14px; 
            background-repeat: no-repeat;
            background-position: center center;
            background-size: contain;
            background-image: url("data:image/svg+xml,%3Csvg width='6' height='14' viewBox='0 0 6 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.06974 7.00115L0.139493 0.99922C0.0452369 0.884609 -0.00125241 0.746789 2.56464e-05 0.585763C0.00119719 0.424607 0.048911 0.286723 0.143167 0.172111C0.237317 0.0573701 0.350585 0 0.48297 0C0.615248 0 0.728515 0.0573701 0.822772 0.172111L5.70269 6.11706C5.8059 6.24269 5.88125 6.38278 5.92875 6.53732C5.97625 6.692 6 6.84661 6 7.00115C6 7.15569 5.97625 7.3103 5.92875 7.46498C5.88125 7.61952 5.8059 7.75961 5.70269 7.88524L0.818938 13.8302C0.724788 13.9449 0.61216 14.0015 0.481053 14C0.349946 13.9985 0.237317 13.9405 0.143167 13.8257C0.048911 13.7111 0.00178322 13.5732 0.00178322 13.4121C0.00178322 13.251 0.048911 13.1132 0.143167 12.9984L5.06974 7.00115Z' fill='%23666666'/%3E%3C/svg%3E ");
            content: "";
        }
        .book .more a:hover::after {
            background-image: url("data:image/svg+xml,%3Csvg width='6' height='14' viewBox='0 0 6 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.06974 7.00115L0.139493 0.99922C0.0452369 0.884609 -0.00125241 0.746789 2.56464e-05 0.585763C0.00119719 0.424607 0.048911 0.286723 0.143167 0.172111C0.237317 0.0573701 0.350585 0 0.48297 0C0.615248 0 0.728515 0.0573701 0.822772 0.172111L5.70269 6.11706C5.8059 6.24269 5.88125 6.38278 5.92875 6.53732C5.97625 6.692 6 6.84661 6 7.00115C6 7.15569 5.97625 7.3103 5.92875 7.46498C5.88125 7.61952 5.8059 7.75961 5.70269 7.88524L0.818938 13.8302C0.724788 13.9449 0.61216 14.0015 0.481053 14C0.349946 13.9985 0.237317 13.9405 0.143167 13.8257C0.048911 13.7111 0.00178322 13.5732 0.00178322 13.4121C0.00178322 13.251 0.048911 13.1132 0.143167 12.9984L5.06974 7.00115Z' fill='white'/%3E%3C/svg%3E%0A");
        }
    
}/*mesia*/

.interview {
    background-color: #EDEDED;
    margin: 105px 0 0 0;
    padding: 64px 0 121px 0;
}
.interview .wrapper {
    position: relative;/*more 정렬의 기준*/
}
.interview .tit {
    text-align: center;
    margin: 0 0 139px 0;
}
.interview .tit h2 {
    font-family: "Eulyoo1945";
    font-size: 50px;
    color: #1d1d1d;
    margin: 0 0 14px 0;
}
.interview .more {
    position: absolute;
    top: 115px;
    left: 0;
    width: 100%;
    text-align: center;
}
.interview .more a {
    padding: 13px 81px 13px 17px;
    border: 1px solid #999;
    display: inline-block;
    color: #666;
    position: relative;/*after 정렬의 기준*/
}
.interview .more a::after {
    position: absolute;/*a를 기준으로 정렬*/
    right: 22px;
    top: 13px;
    width: 10px;
    height: 19px; 
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    background-image: url("data:image/svg+xml,%3Csvg width='10' height='19' viewBox='0 0 10 19' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.44956 9.50156L0.232489 1.35608C0.0753948 1.20054 -0.00208734 1.0135 4.27441e-05 0.794964C0.00199532 0.576252 0.0815183 0.389124 0.238612 0.233579C0.395529 0.0778594 0.584308 0 0.804949 0C1.02541 0 1.21419 0.0778594 1.37129 0.233579L9.50449 8.30173C9.67649 8.47223 9.80208 8.66235 9.88125 8.87208C9.96042 9.082 10 9.29182 10 9.50156C10 9.7113 9.96042 9.92113 9.88125 10.131C9.80208 10.3408 9.67649 10.5309 9.50449 10.7014L1.3649 18.7695C1.20798 18.9253 1.02027 19.0021 0.801754 19C0.583243 18.998 0.395529 18.9192 0.238612 18.7635C0.0815183 18.6079 0.00297204 18.4208 0.00297204 18.2021C0.00297204 17.9836 0.0815183 17.7964 0.238612 17.6407L8.44956 9.50156Z' fill='%23666666'/%3E%3C/svg%3E ");
    content: "";
}
.interview .more a:hover {
    border-color: #2C2C2C;
    background-color: #2C2C2C;
    color: #fff;
}
.interview .more a:hover::after {
    background-image: url("data:image/svg+xml,%3Csvg width='10' height='19' viewBox='0 0 10 19' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.44956 9.50156L0.232489 1.35608C0.0753948 1.20054 -0.00208734 1.0135 4.27441e-05 0.794964C0.00199532 0.576252 0.0815183 0.389123 0.238612 0.233579C0.395529 0.0778594 0.584308 0 0.804949 0C1.02541 0 1.21419 0.0778594 1.37129 0.233579L9.50449 8.30173C9.67649 8.47223 9.80208 8.66235 9.88125 8.87208C9.96042 9.082 10 9.29182 10 9.50156C10 9.7113 9.96042 9.92113 9.88125 10.131C9.80208 10.3408 9.67649 10.5309 9.50449 10.7014L1.3649 18.7695C1.20798 18.9253 1.02027 19.0021 0.801754 19C0.583243 18.998 0.395529 18.9192 0.238612 18.7635C0.0815183 18.6079 0.00297204 18.4208 0.00297204 18.2021C0.00297204 17.9836 0.0815183 17.7964 0.238612 17.6407L8.44956 9.50156Z' fill='white'/%3E%3C/svg%3E ");
}

.interview .list ul {
    display: flex;
    justify-content: space-between;
}
.interview .list ul li {
    width: 404px;
}
/*디자인상 무조건 두번쨰 요소에 적용되는 스타일*/
.interview .list ul li:nth-child(2) {
    margin-top: 52px;
}
.interview .list ul li a .photo {
    overflow: hidden;
    font-size: 0;/*이미지 하단 여백 삭제*/
    line-height: 0;
    border-radius: 60px 0 60px 0;
}
.interview .list ul li:nth-child(2) a .photo {
    border-radius: 0 60px 0 60px;
}
.interview .list ul li a .photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;/*감싸는 요소 photo 영역에 이미지 꽉채우기*/
    filter: grayscale(100%);
}

footer {
    margin: 200px 0 0 0;
}