@import url(default.css);
@import url(fonts.css);
@import url(common.css);

header {
    position: absolute;/*visual 안에 넣기 위해*/
    left: 0;
    top: 0;
    width: 100%;
    height: 100px;
    color: #fff;
}
header .inner {
    display: flex;
    justify-content: space-between;/*로고와 메뉴 양사이드에 위치*/
    align-items: center;/*세로로 위아래 가운데 */
    margin: 0 20px;
}
header .logo a {
    display: block;
    width: 156px;
    height: 60px;
    font-size: 0;
    line-height: 0;
    position: relative;/*before 정렬의 기준*/
}
header .logo a::before {
    position: absolute;/*a를 기준으로 정렬*/
    left: 0;
    top: -4px;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    background-image: url(../images/logo\ 1.svg);
    content: "";
}
/*메뉴가 열렸을때*/
header.menu_over {
    color: #1d1d1d;
}
header.menu_over::before {
    position: absolute;/*header 기준으로 정렬*/
    left: 0;
    top: 0;
    /*z-index: -1;*/
    /*정렬의 기준요소의 모든 내부요소보다 아래에 배치
      position값이 없는 요소까지 포함해서*/
    width: 100%;
    height: 330px;
    background-color: #fff;
    content: "";
}
header.menu_over::after {
    position: absolute;
    left: 0;
    top: 100px;
    width: 100%;
    height: 1px;
    background-color: #ededed;
    content: "";
}
header.menu_over .logo a::before{
    background-image: url(../images/logo2.svg);
}
@media screen and (min-width:1025px){/*1025이상일때 - 메뉴 열린상태*/
header .gnb button {
    display: none;/*모바일에서만 보임*/
}
header .gnb .gnb_wrap ul.depth1 {
    display: flex;/*메뉴 옆으로 나열*/
}
header .gnb .gnb_wrap ul.depth1 > li {
    width: 180px;
    text-align: center;
    position: relative;/*ul.depth2 정렬의 기준*/
}
header .gnb .gnb_wrap ul.depth1 > li > a {
    line-height: 100px;/*header 높이와 동일하게*/
    display: block;/*li 넓이와 동일하게*/
    font-size: 20px;
    font-weight: 700;
}
header .gnb .gnb_wrap ul.depth1 > li.on > a {
    color: #0085FF;
}
header .gnb .gnb_wrap ul.depth1 > li.on > a span {
    position: relative;/*after의 정렬의 기준*/
}
header .gnb .gnb_wrap ul.depth1 > li.on > a span::after {
    position: absolute;
    left: 0;
    bottom: -41px;
    z-index: 10;
    width: 100%;
    height: 2px;
    background-color: #0085FF;
    content: "";
}
header .gnb .gnb_wrap ul.depth2 {
    display: none;/*2차메뉴는 안보임 - 마우스 오버했을때만 적용*/
    /*2차메뉴는 1차메뉴 하단에 header 밖에 배치되기 때문에 무조건 absolute*/
    position: absolute;/*li 기준으로 정렬*/
    left: 0;
    top: 100px;/*1차메뉴 a의 높이만큼*/
    width: 100%;/*li와 넓이를 같게 하려고*/
    padding-top: 20px;
    /*1차메뉴 a와 2차메뉴 사이의 여백이 필요하면
      반드시 2차메뉴 ul에 padding으로 줌*/
}
header .gnb .gnb_wrap ul.depth2 > li > a {
    display: block;/*depth2, 1차메뉴 a와 넓이가 같음*/
    line-height: 27px;
    color: #3d3d3d;
}
header .gnb .gnb_wrap ul.depth2 > li > a:hover {
    color: #0085FF;
}
header.menu_over .gnb .gnb_wrap ul.depth2 {
    display: block;/*2차메뉴 보이게 하기 위해*/
}
}/*media*/
/*1300 ~ 1025px*/
@media screen and (min-width:1025px) and (max-width:1300px){
    header .gnb .gnb_wrap ul.depth1 > li {
        width: 160px;
    }
    header .gnb .gnb_wrap ul.depth1 > li > a {
        font-size: 18px;
    }
}/*media*/
.visual {
    background: url(../images/visual_bg.png) no-repeat center center / cover;
    height: 100vh;/*브라우저 높이와 딱 맞게 들어감*/
    margin-bottom: 100vh;
}
.visual h2 {
    display: none;
}