@import url(default.css);
@import url(fonts.css);
@import url(common.css);

.biz ul {
    display: flex;
    justify-content: space-between;
}
.biz ul li {
    width: 297px;
}
.biz ul li a {
    display: block;
    position: relative;/*h2/p정렬의 기준*/
    color: rgba(255,255,255,0.8);
}
.biz ul li a .photo {
    overflow: hidden;/*이미지 넘치는 것 자르기*/
    font-size: 0;/*이미지가 넘치는 것 자르기
    이미지도 하단에 행간이 들어가서*/
    line-height: 0;
    border-radius: 22px;
}
.biz ul li a .photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /*감싸는 photo의 넓이와 높이에 이미지를 꽉차고 비율에 맞게 리사이즈*/
    transition: 0.5s;/*오버후에 변경사항을 부드럽게*/
}
.biz ul li a:hover .photo img {
    transform: scale3d(1.2, 1.2, 1);
}
.biz ul li a h2 {
    position: absolute;/*사진 위에 올라가야 하므로 absolute
    a를 기준으로 정렬*/
    left: 29px;
    top: 122px;
    color: #fff;
    font-size: 25px;
    font-weight: 700;
}
.biz ul li a p {
    position: absolute;
    left: 29px;
    top: 152px;
    width: calc(100% - 58px);/*h2/p left값의 합*/
    /*p의 100%는 감싸는 a의 넓이
    그 100%에 왼쪽과 오른쪽여백(각 29씩)을
    뺀 나머지 전체를 넓이를 주는 방식*/
}

@media screen and (max-width:640px){
    .biz ul {
        flex-wrap: wrap;/*여러줄 허용*/
    }
    .biz ul li {
        width: calc(50% - 8px);
        /*100% 나누기 한줄에 들어가는 li의 갯수 = 100%/2=50%
        한줄에 들어가는 여백의 합 나누기 li의 갯수 = 16px/2=8px
        결론 - 50% - 8px
        만약 한줄에 3개씩 나오면
        100%/3 - 16+16=32/2
        33.33% -  10.66px */
    }
    .biz ul li a {
        color: #3d3d3d;
    }
    .biz ul li a .photo {
        /*height: 149px;*/
        border-radius: 0;
    }
    .biz ul li a h2 {
        position: relative;/*absolute 해제 - absolute의 다른 값을 줘야함
        sticky, fixed 이런 값중에 제일 일반 태그처럼 작동되는게 relative밖에 없어서 줌*/
        left: auto;
        top: auto;
        color: #1d1d1d;
        font-size: 15px;
        font-weight: 700;
    }
    .biz ul li a p {
        position: relative;
        left: auto;
        top: auto;
        width: auto;/*block태그라서 감싸는 a 사이즈만하게 들어감*/
    }
}/*media*/

.business {
    margin: 100px 0 0 0;
}
.business ul {
    display: flex;
    justify-content: space-between;
}
.business ul li {
    width: calc(25% - 18px);
}
.business ul li a {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    color: rgba(255,255,255,0.8);
    display: block;/*height때문에*/
    height: 292px;
    border-radius: 22px;
    padding: 122px 29px 0 29px;
    /*높이를 제한한 경우 padding 아래 여백은 안줌
    하단 여백까지 주면 콘텐츠가 길어질 경우 높이가 늘어남*/
    transition: 0.5s;/*베경이미지 사이즈 변경은 부드럽게 안됨*/
}
.business ul li a:hover {
    /*background-size 100%는 a의 넓이를 100%으로 봄
    - 배경이미지 사이즈가 아님
    - 배경이미지는 비율에 맞게 사이즈가 리사이즈 되지 않음
    이미지는 넓이만 줘도 비율에 맞게 높이가 조정
    배경은 꼭 넓이를 주고 높이에 비율맞게 들어가라고 auto를 줘야함*/
    background-size: 120% auto;
}
.business ul li.biz1 a {
    background-image: url(../images/biz1.png);
}
.business ul li.biz2 a {
    background-image: url(../images/biz2.png);
}
.business ul li.biz3 a {
    background-image: url(../images/biz3.png);
}
.business ul li.biz4 a {
    background-image: url(../images/biz4.png);
}
.business ul li a h2 {
    font-size: 25px;
    font-weight: 700;
    color: #fff;
    margin: 0 0 7px 0;
}
@media screen and (max-width:640px){
    .business {
        margin: 50px 0 0 0;
    }
    .business ul {
        display: block;
    }
    .business ul li {
        width: auto;
        /*넓이 고정 해제 - 원래 속성대로 들어감
        li는 block태그라서 감싸는 요소 ul 넓이의 100%*/
        margin: 0 0 7px 0;
    }
    .business ul li a {
        height: auto;/*내부 콘텐츠의 높이만큼 들어가야함*/
        border-radius: 0;
        padding: 54px 41px 53px 41px;
        /*높이를 제한한 경우 padding 아래 여백은 안줌
        하단 여백까지 주면 콘텐츠가 길어질 경우 높이가 늘어남*/
    }
    .business ul li a h2 {
        font-size: 15px;
        font-weight: 700;
        color: #fff;
        margin: 0 0 4px 0;
    }
}/*media*/

.gellery {
    margin: 100px 0 0 0;
}
.gellery ul {
    display: flex;
    justify-content: space-between;
}
.gellery ul li {
    width: calc(33.33% - 16px);
}
.gellery ul li .photo {
   overflow: hidden;
   font-size: 0;
   line-height: 0;
}
.gellery ul li .photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
@media screen and (max-width:640px){

}
.news {
    margin: 50px 0 0 0;
}
.news ul {
    display: flex;
    justify-content: space-between;
}

.news ul li {
    width: calc(33.33% - 16px);
}
.news ul li a .photo {
    overflow: hidden;
    font-size: 0;
    line-height: 0;
    height: 300px;
}
.news ul li a .photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
@media screen and (max-width:640px){

}/*media*/

.popup .wrapper {
    position: relative;
}
.popup .swiper { height:312px } /* 팝업의 높이가 됨 */
.popupp .swiper-slide img { display:block; width:100%; height:100%; object-fit:cover; } /* 팝업 안에 이미지를 넣었다면 이미지를 꽉차게 나타나게 하기 위해서 해당 스타일을 넣어줌 object-fit 상세설명 */

.visual {
    margin: 100px 0;
    position: relative;/*팝업을 감싸는 요소는 position:relative*/
}
.visual ul li {
    height: 800px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
}
.visual ul li.bg1 {
    background-image: url(../images/visual_bg1.png);
}
.visual ul li.bg2 {
    background-image: url(../images/visual_bg2.png);
}
.visual ul li.bg3 {
    background-image: url(../images/biz1.png);
}
.visual ul li h2 {
    font-size: 45px;
    font-weight: 700;
    margin: 233px 0 0 0;
}
.visual ul li p {
    font-size: 20px;
}
.visual .btn_prev,
.visual .btn_next {
    position: absolute;/*swiper를 기준으로 정렬*/
    top: 400px;
    z-index: 10;/*swiper아네는 position값이 많이 적용함
    position끼리는 서로 겹침
    그래서 더 위에 배치하려면 z-index 위아래값 (층수)
    숫자가 높은게 더 위에 배치*/
}
.visual .btn_prev {
    left: 31px;
    left: 1%;
}
.visual .btn_next {
    right: 31px;
    right: 1%;
}
.visual .btn_prev i,
.visual .btn_next i {
    font-size: 100px;/*아이콘크기*/
    color: rgba(255,255,255,0.5);/*아이콘색상*/
    font-weight: 100;
}
.visual .btn_wrap {
    /*swiper를 기준으로 정렬*/
    position: absolute;
    left: 0;
    bottom: 32px;
    z-index: 10;
    width: 100%;/*기준이되는 swiper와 넓이가 같아짐*/
    display: flex;/* 안에 있는 요소 좌우 나란히*/
    justify-content: center;
    /*해당 요소의 넓이에서 가운데*/
    align-items: center;/*좌우로 배치된 요소끼리 위아래 가운데 정렬*/
}
.visual .btn_wrap .paging {
    width: auto;
    /*swiper에서 paging에 넓이 100%를 줌*/
}
/*기본 스타일*/
.visual .btn_wrap .paging .swiper-pagination-bullet {
    width: 14px;
    height: 14px;
    background: transparent;
    opacity: 1;
    border: 1px solid #fff;

}
/*현재 선택된 동그라미*/
.visual .btn_wrap .paging .swiper-pagination-bullet-active {
    background-color: #fff;
}
.visual .btn_wrap button i {
    color: #fff;/*아이콘색상*/
    font-size: 24px;/*아이콘크기*/
    font-weight: 100;/*아이콘 두께*/
}
.visual .stop, 
.visual .play{
    
}
@media screen and (max-width:640px){
    .visual ul li {
        height: 424px;
    }
    .visual ul li h2 {
        font-size: 25px;
        margin: 139px 0 0 0;
    }
    .visual ul li p {
        font-size: 13px;
    }
    .visual .btn_prev,
    .visual .btn_next {
        display: none;
    }
    .visual .btn_wrap {
        /*swiper를 기준으로 정렬*/
        position: absolute;
        left: 0;
        bottom: 15px;
    }
    /*기본 스타일*/
    .visual .btn_wrap .paging .swiper-pagination-bullet {
        width: 13px;
        height: 13px;
    
    }
    .visual .btn_wrap button i {
        font-size: 19px;/*아이콘크기*/
    }
}
.book {
    margin: 100px 0;
}
.book ul li {
    width: 297px;
}
.book ul li a .photo {
    overflow: hidden;
    font-size: 0;
    line-height: 0;
}
.book ul li a .photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
@media screen and (max-width:640px){
    .book ul li {
        width: 152px;
    }
}/*media*/

.sns {
    margin: 100px 0;
}
.sns ul li a .photo {
    overflow: hidden;
    font-size: 0;
    line-height: 0;
}
.sns ul li a .photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}